/* COLOURS - http://chir.ag/projects/name-that-color/
------------------------------------------ */

$standard: #333333;
$header: #141414;
$link: #d8544b;
$link-hover: #e2766f;

	
/* TYPOGRAPHY
------------------------------------------ */

/* WEIGHTS
------------------------------------------ */

$light: 100;
$regular: 400;
$bold: 600;
$header-weight: 700;

/* BASE FONTS
------------------------------------------ */

$base-font-family: Cambria, Georgia, serif;
$base-font-weight: $regular;
$base-font-size: 1em;
$base-line-height: 1.4;


/* HEADER FONTS
------------------------------------------ */

$header-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	
	
	